.form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.table{
    width: 700px;
    margin: auto;
    border: 1px solid black;

}

.table th,td{
    padding: 4px;
}

.form *{
    margin:10px
}

.form input[type="submit"]{
    background-color: black;
    color: white;
}